@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary: rgb(39, 57, 73);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: rgb(33, 39, 50);
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  flex: 0 1 auto;
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
}

nav > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

main {
  flex-grow: 1;
}
