{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/urls.css') }}"/>
{% endblock head %}


{% block content %}
    <section class="content">
        <table>
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Short URL</th>
                </tr>
            </thead>
        {% for url in urls %}
            <tr>
                <td class="original-url"><a href="{{ url.original_url }}">{{ url.original_url }}</a></td>
                <td class="shortened-url"><a href= "{{url.short_url}}">{{url.short_url}}</a></td>
            </tr>
        {% endfor %}
        </table>
    </section>
{% endblock %}